@font-face {
  font-family: "Manrope Extra Bold";
  src: url("../fonts/Manrope-ExtraBold.woff");
}

@font-face {
  font-family: "Monrope Regular";
  src: url("../fonts/Manrope-Regular.woff");
}

@font-face {
  font-family: "Monrope Medium";
  src: url("../fonts/Manrope-Medium.woff");
}


// include bootstrap functions
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// add value to min-vh
$utilities: map-merge($utilities,
    ("min-viewport-height": map-merge(map-get($utilities, "min-viewport-height"),
        (values: map-merge(map-get(map-get($utilities, "min-viewport-height"), "values"),
            (10: 10%, 50: 50%),
          ),
        ),
      ),
    ));

// add value to vh
$utilities: map-merge($utilities,
    ("viewport-height": map-merge(map-get($utilities, "viewport-height"),
        (values: map-merge(map-get(map-get($utilities, "viewport-height"), "values"),
            (70: 70%),
          ),
        ),
      ),
    ));
// create custom variables and override default bootstrap variables
$white-green: #E2E9DA;
$light-green: #ADD772;
$black-green: #054E2D;
//lightens color 
$custom-green: tint-color($black-green, 10%);
$primary: $light-green;
$secondary: $black-green;
$body-bg: #fff;
$body-color: #111;

$headings-font-family: "Manrope Extra Bold", serif;
$font-family-sans-serif: "Manrope Regular", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";


h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: uppercase;
  color: $black-green;
}

ul.navbar-nav, .navbar-brand {
  letter-spacing: 0.1em;
  font-family: "Manrope Medium", sans-serif;
}

.white-green-background {
  background-color: $white-green;
}

.light-green-background {
  background-color: $light-green;
}

.black-green-background {
  background-color: $black-green;
}

.white-green-color {
  color: $white-green;
}

.black-green-color {
  color: $black-green;
}

#header-nav li a:hover {
  background-color: mix(white, $white-green, 50%);
} 

#sidebar {
  z-index: -1;
}

#main-nav li a:hover {
  background-color: mix(white, $light-green, 50%);
} 

#footer-nav li a {   
  color: $white-green;  

  &:hover {
    background-color: mix(black, $black-green, 20%);
  }
}